

<form action="/admin/add-user" method="post">


<div class="addUser" style="width: 50%; margin: 40px auto;" >

<h1>ADD USER</h1>
<br>
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping"></span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" name="name">
</div>
<br>
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">@</span>
  <input type="text" class="form-control" placeholder="User Email" aria-label="Username" aria-describedby="addon-wrapping" name="email">
</div>
<button type="submit"
      class="btn btn-success text-white  mt-5 mb-5 btn-lg ms-5" >Add User</button></a>

</div>



</form>