<div class="container">

<table  id="userTable" class="table table-bordered table-info yes mt-5 me-5">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Username</th>
       <th scope="col">userEmail</th>
       
    </tr>
  </thead>
  <tbody>

      
{{#each userList }}

    <tr>
      <th scope="row">+</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      
{{/each}}

  </tbody>
</table>
</div>


<script>
  $(document).ready(function () {
    $('#userTable').DataTable();
  });
</script>